* {
    margin: 0;
    padding: 0;
}

/* Body */

body {
    background-color: rgb(104, 148, 189);
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Header */

.img-container {
    text-align: center;
}
img {
    width: 150px;
}

/* Main */

.input-container {
    text-align: center;
}
#msg {
    text-align: center;
    font-size: 125%;
    font-style: italic;
    margin-bottom: 1rem;
}
#warning, #warning1 {
    background-color: rgb(202, 88, 105);
    width: 45%;
    height: 1.8rem;
    text-align: center;
    margin: 0 auto;
    display: none;
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    position: relative;
    left: 1.6rem;
}

/* Input */ 

input[type=text] {
    width: 25%;
    height: 2rem;
    text-align: center;
    font-size: 110%;
    border-radius: 4px;
}
input[type=text]:hover {
    background-color: rgba(240, 158, 8, 0.65);
}
#btn, #reset {
    width: 5rem;
    height: 2.2rem;
    padding: 0.4rem;
    background-color: black;
    color: white;
    border-radius: 4px;
}
#btn:hover, #reset:hover {
    cursor: pointer;
}
input[type="checkbox"] {
    text-align: center;
    font-size: 120%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
    margin-bottom: 0.5rem;
    background-color: lightgrey;
}
#namelist {
    width: 12rem;
    height: 2rem;
    text-align: center;
    font-size: 110%;
    border-radius: 4px;
}
.todolist, #donelist {
    text-align: center;
    font-size: 150%;
    background-color: lightgray;
    margin: 0 auto;
    width: 70%;
    border-bottom: 1px solid grey;
}
label {
    margin: 1.5rem;
}
.btnclass {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    bottom: 0.2rem;
}
#containertodo {
    margin: 0 auto;
    width: 45%;
    height: 300px;
    background-color: rgba(170, 168, 163, 0.65);
    position: relative;
    top: 1rem;
    left: 1.5rem;
    display: none;
    border-radius: 7px;
}
#containerdone {
    margin: 0 auto;
    width: 75%;
    height: 300px;
    background-color: rgba(170, 168, 163, 0.65);
    position: relative;
    display: none;
    top: 2rem;
    border-radius: 7px;
}
.title {
    text-align: center;
    font-size: 110%;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    margin-top: 0.5rem;
}
.todo, .done {
    text-align: center;
    font-size: 160%;
    text-decoration: underline;
    font-weight: bold;
    padding: 1rem;
    font-style: italic;
}

/* Responsive Design */

@media screen and (max-width: 580px) {
    img {
        width: 300px;
    }
}

/* Footer */

.footer {
    text-align: center;
    font-size: 110%;
    background-color: rgb(236, 232, 232);
    margin: 0 auto;
    width: 45%;
    height: 2rem;
    position: relative;
    top: 2rem;
    left: 1.5rem;
}

/* Links */
a, a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
}
